.cart-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
}

.cart-img {
    width: 180px;
    height: 200px;
}


.cart-body-container {
    width: 500px;
}

.emptycart-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.emptycart-container h3 {
    font-size: 2rem;
}

.emptycart-container p {
    font-size: 9rem;
    margin-bottom: 0;
}

.emptycart-container a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav-cart-btn-cont {
    display: flex;
}


.product-btn-fav-cart {
    background: #059db1;
    border: none;
    padding: 0.6rem;
    color: #fff;
    cursor: pointer;
}

.product-btn-fav-del-cart {
    background: #059db1;
    border: none;
    padding: 0.6rem;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}


@media screen and (max-width: 1024px) {
    .cart-img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

    .product-btn-fav-del-cart {
        margin-left: 0;
        margin-top: 5px;
        display: flex;
    }

    .cart-body-container h3 {
        font-size: 0.9rem;
    }

}