.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    background: #FCEDDA;
}

.about-container h4 {
    font-size: 1.5rem;
}

.about-container p {
    margin-left: 100px;
    margin-right: 100px;
}

@media screen and (max-width: 1024px) {
    .about-container p {
        margin: 0;
        text-align: center;
    }

    .about-container {
        height: 400px;
    }
}